
<div id="outer-div">
    <div id="page-tittle">
        Codeial!
    </div>
    
    <div>
        <ul>
            <% if(locals.user){ %>
        
                <li> <%= user.name %> </li>
                <li>   <a href="/users/sign-out"> Sign Out </a> </li>
        
            <% }else{ %>
             
        
                <a href="/users/sign-in"> Sign In </a>
        
            <% } %>
         </ul>
    </div>

</div>

