<link rel="stylesheet" href="/css/layout.css">
<div id="outer-div">



    <div id="page-tittle">
        Codeial!
    </div>
    
    <!-- <div>
        <ul>
            <% if(locals.user){ %>
        
                <li> <%= user.name %> </li>
                <li>   <a href="/users/sign-out"> Sign Out </a> </li>
        
            <% }else{ %>
             
        
                <a href="/users/sign-in"> Sign In </a>
        
            <% } %>
         </ul>
    </div> -->

    <div id="options">
        <% if(locals.user){ %>
            <a href="users/profile/<%= u.id %>">  <p> <%= user.name %> </p> </a>
           <a href="/users/sign-out">   <p>   Sign Out </p> </a> 
        <% }else{ %>
            <a href="/users/sign-in"> Sign In </a>
            <a href="/users/sign-up"> Sign Up </a>
         <% } %>  
    </div>

</div>

