<header>
    Page Header
</header>


 <ul>
    <% if(locals.user){ %>

        <li> <%= user.name %> </li>
        <li>   <a href="/users/sign-out"> Sign Out </a> </li>

    <% }else{ %>
     

        <a href="/users/sign-in"> Sign In </a>

    <% } %>
 </ul>
