<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        

        <%- include('_header'); %>

        
        <h1>
            Home Page
        </h1>
       
        <%- include('_footer'); %>
      
    </body>
</html>