<link rel="stylesheet" href="/css/home.css">

<!-- <h1>
  Codeial | Home Page
</h1> -->
      
<div id="main">
  <section id="profile">
    <h2> Profile </h2>
    <h2> Under Construction!! </h2>
    <% if(locals.user){ %>
      <a href="/users/profile"> <h2> <%= user.name %> </h2> </a>
  <% } %>

    </section>
    
    
    <section id="feed-posts">
      <h4> Posts </h4>
      <% if(locals.user){ %> 
      <form action="/posts/create/" id="new-post-form" method="POST">
              <textarea name="content" cols="30" rows="3" placeholder="Type Here...."> </textarea>
     <input type="submit" value="Post">
            </form>
    <% } %>
    
            <div id="posts-list-container">
              
              <ul>
                <% for(post of posts){ %>
                  <%- include('_post.ejs'); -%> 
                <% } %>
              </ul>
    
    
            </div>
    </section>
    
    
    
    <section id="messages-and-friends">
  
      <div id="friends">
        <h2> Friends Section</h2>
        <h2> Under Construction </h2>
        <h4> Friends </h4>
        <% for(u of all_users) { %>
        <p>
          <a href="users/profile/<%= u.id %>"> <%=  u.name  %></a>
        </p>
        <% } %>

      </div>
       
<div id="messages">
  <h2> Messages Section </h2>
  <h2> Under Construction </h2>
</div>

    </section>


</div>
<script src="/js/home_post.js"> </script>