::-webkit-scrollbar {
    display: none;
}

#outer-div{
    height:90vh;
    width:100vw;
    background-color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


#inner-div{
    height:60%;
    width:50%;
    background-color:bisque;
}


