#main {
  display: flex;
  flex-direction: row; }

#profile {
  flex-grow: 1;
  margin-left: 40px; }

#feed-posts {
  flex-grow: 1;
  padding-left: 100px; }

#messages-and-friends {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

#profile a {
  text-decoration: none;
  color: blue; }

#image1 {
  border-radius: 50%; }
